---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/blocks/895d489280a3475c906a44c06723a022/children
    body:
      encoding: UTF-8
      string: '{"children":[{"to_do":{"text":[{"text":{"content":"Lacinato kale"}}],"checked":false}}]}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b7-rAkeFxALtWi9NyqcC8LUocxxnl8"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"block","id":"2e403b6f-8d3d-42bc-a331-6b2eaa1d7d0b","created_time":"2022-06-06T04:08:00.000Z","last_edited_time":"2022-06-06T04:08:00.000Z","created_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"last_edited_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"has_children":false,"archived":false,"type":"to_do","to_do":{"checked":false,"color":"default","text":[{"type":"text","text":{"content":"Lacinato
        kale","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lacinato
        kale","href":null}]}}],"next_cursor":null,"has_more":false}'
  recorded_at: Mon, 06 Jun 2022 04:08:43 GMT
- request:
    method: patch
    uri: https://api.notion.com/v1/blocks/895d489280a3475c906a44c06723a022/children
    body:
      encoding: UTF-8
      string: '{"children":[{"to_do":{"text":[{"text":{"content":"Lacinato kale"}}],"checked":false}}]}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b7-triNTZ8fuaNAKNweqg2BVpJODgI"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"block","id":"cb7c05c7-ff9b-4174-b3de-44b47bb5a8ae","created_time":"2022-06-06T04:08:00.000Z","last_edited_time":"2022-06-06T04:08:00.000Z","created_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"last_edited_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"has_children":false,"archived":false,"type":"to_do","to_do":{"checked":false,"color":"default","text":[{"type":"text","text":{"content":"Lacinato
        kale","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lacinato
        kale","href":null}]}}],"next_cursor":null,"has_more":false}'
  recorded_at: Mon, 06 Jun 2022 04:08:44 GMT
recorded_with: VCR 6.1.0
