---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/pages
    body:
      encoding: UTF-8
      string: '{"parent":{"database_id":"0b99d13693254b809dfc617b1061c399"},"properties":{}}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-02-22'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ac-lJsGlOrBijRZJHc4p5qd3kU/dYc"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"page","id":"92d0a37f-003e-41e3-9a00-430bc0719091","created_time":"2022-06-07T03:36:00.000Z","last_edited_time":"2022-06-07T03:36:00.000Z","created_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"last_edited_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"0b99d136-9325-4b80-9dfc-617b1061c399"},"archived":false,"properties":{"In
        stock":{"id":"VG%5E%3C","type":"checkbox","checkbox":false},"Cost of next
        trip":{"id":"dgWa","type":"number","number":null},"Name":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/92d0a37f003e41e39a00430bc0719091"}'
  recorded_at: Tue, 07 Jun 2022 03:36:47 GMT
recorded_with: VCR 6.1.0
