---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-02-22'
      Authorization:
      - Bearer foo bar
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57-QCRLT3IovYEW+CkwyJQlFtiXiG8"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid."}'
  recorded_at: Tue, 07 Jun 2022 03:36:48 GMT
recorded_with: VCR 6.1.0
