---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/databases/0b99d13693254b809dfc617b1061c399
    body:
      encoding: UTF-8
      string: '{"title":[{"type":"text","text":{"content":"Grocery List","link":null}}],"properties":{"Name":{"title":{}}}}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b4-nOHSi/TbSuUzc2TLbELiTkRV48U"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"database","id":"0b99d136-9325-4b80-9dfc-617b1061c399","cover":null,"icon":null,"created_time":"2022-06-06T04:12:00.000Z","created_by":{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427"},"last_edited_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"last_edited_time":"2022-06-06T04:23:00.000Z","title":[{"type":"text","text":{"content":"Grocery
        List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Grocery
        List","href":null}],"properties":{"In stock":{"id":"VG%5E%3C","name":"In stock","type":"checkbox","checkbox":{}},"Cost
        of next trip":{"id":"dgWa","name":"Cost of next trip","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"workspace","workspace":true},"url":"https://www.notion.so/0b99d13693254b809dfc617b1061c399","archived":false}'
  recorded_at: Mon, 06 Jun 2022 04:23:13 GMT
[...]
