---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/users/68af0d6b-3281-4447-9d03-a6a945ecd427
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3-xF4q2X2fwtG9i6/+5fbyB1XsrM8"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427","name":"notion
        bot","avatar_url":"https://lh3.googleusercontent.com/a/AATXAJzQjMli0Q7ot5TLE_KFVYtSl5zRkBonHN-EfZwy=s100","type":"person","person":{"email":"notionsdkruby@gmail.com"}}'
  recorded_at: Sun, 05 Jun 2022 19:39:30 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/users/foo-bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-wnLKAyrZ+rl4TZpWwj5wppJAtTA"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":400,"code":"validation_error","message":"path
        failed validation: path.user_id should be a valid uuid, instead was `\"foo-bar\"`."}'
  recorded_at: Sun, 05 Jun 2022 19:42:49 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/users/33af0d6b-2222-4447-9d03-a6a945ecd428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc-tkelMkKVDe0scJ3uA5xUh9AW9as"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find user with ID: 33af0d6b-2222-4447-9d03-a6a945ecd428. Only members
        and guests in the integration''s workspace are visible."}'
  recorded_at: Sun, 05 Jun 2022 19:44:45 GMT
recorded_with: VCR 6.1.0
