---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/blocks/foo-bar/children
    body:
      encoding: UTF-8
      string: '{"children":[{"to_do":{"text":[{"text":{"content":"Lacinato kale"}}],"checked":false}}]}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e-rbKmYPztkLw0agwDh16HD2YhiiA"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":400,"code":"validation_error","message":"path
        failed validation: path.block_id should be a valid uuid, instead was `\"foo-bar\"`."}'
  recorded_at: Mon, 06 Jun 2022 04:08:44 GMT
recorded_with: VCR 6.1.0
