---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/0b99d13693254b809dfc617b1061c399/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"property":"In stock","checkbox":{"equals":true}},{"property":"Cost
        of next trip","number":{"greater_than_or_equal_to":2}}]}}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"728-Ug02DDU6ZPd37+CtnWKdtYeFS2I"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"page","id":"47df2d27-4885-45dc-b869-f61c81fef9e7","created_time":"2022-06-06T04:12:00.000Z","last_edited_time":"2022-06-06T04:19:00.000Z","created_by":{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427"},"last_edited_by":{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"0b99d136-9325-4b80-9dfc-617b1061c399"},"archived":false,"properties":{"In
        stock":{"id":"VG%5E%3C","type":"checkbox","checkbox":true},"Cost of next trip":{"id":"dgWa","type":"number","number":5},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"bar","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"bar","href":null}]}},"url":"https://www.notion.so/bar-47df2d27488545dcb869f61c81fef9e7"},{"object":"page","id":"6234bb50-7303-4c36-8472-4c730db1f838","created_time":"2022-06-06T04:12:00.000Z","last_edited_time":"2022-06-06T04:19:00.000Z","created_by":{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427"},"last_edited_by":{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"0b99d136-9325-4b80-9dfc-617b1061c399"},"archived":false,"properties":{"In
        stock":{"id":"VG%5E%3C","type":"checkbox","checkbox":true},"Cost of next trip":{"id":"dgWa","type":"number","number":12},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"baz","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"baz","href":null}]}},"url":"https://www.notion.so/baz-6234bb5073034c3684724c730db1f838"}],"next_cursor":null,"has_more":false}'
  recorded_at: Mon, 06 Jun 2022 04:22:11 GMT
[...]
