---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases
    body:
      encoding: UTF-8
      string: '{"parent":{"type":"page_id","page_id":"783fdf36731349fba4cb6640a2d87e58"},"title":[{"type":"text","text":{"content":"Grocery
        List","link":null}}],"properties":{"Name":{"title":{}}}}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"319-9/5/e/1YQsMzTHfwlMZSIgdN51M"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"database","id":"d3a7fe21-e2ce-412f-8f77-280827a0bd44","cover":null,"icon":null,"created_time":"2022-06-06T04:22:00.000Z","created_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"last_edited_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"last_edited_time":"2022-06-06T04:22:00.000Z","title":[{"type":"text","text":{"content":"Grocery
        List","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Grocery
        List","href":null}],"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"783fdf36-7313-49fb-a4cb-6640a2d87e58"},"url":"https://www.notion.so/d3a7fe21e2ce412f8f77280827a0bd44","archived":false}'
  recorded_at: Mon, 06 Jun 2022 04:22:12 GMT
[...]
