---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/blocks/4cc50934dd4f42fc94952c2b2a727c4f
    body:
      encoding: UTF-8
      string: '{"heading_1":{"text":[{"text":{"content":"Lacinato kale"}}]}}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26d-tW6nx0TGRP/7iBd/R72CzMmJnyA"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"block","id":"4cc50934-dd4f-42fc-9495-2c2b2a727c4f","created_time":"2022-06-05T19:33:00.000Z","last_edited_time":"2022-06-06T04:08:00.000Z","created_by":{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427"},"last_edited_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"color":"default","text":[{"type":"text","text":{"content":"Lacinato
        kale","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lacinato
        kale","href":null}]}}'
  recorded_at: Mon, 06 Jun 2022 04:08:41 GMT
- request:
    method: patch
    uri: https://api.notion.com/v1/blocks/4cc50934dd4f42fc94952c2b2a727c4f
    body:
      encoding: UTF-8
      string: '{"heading_1":{"text":[{"text":{"content":"Lacinato kale"}}]}}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2021-08-16'
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26d-tW6nx0TGRP/7iBd/R72CzMmJnyA"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"block","id":"4cc50934-dd4f-42fc-9495-2c2b2a727c4f","created_time":"2022-06-05T19:33:00.000Z","last_edited_time":"2022-06-06T04:08:00.000Z","created_by":{"object":"user","id":"68af0d6b-3281-4447-9d03-a6a945ecd427"},"last_edited_by":{"object":"user","id":"ddadd306-cbb3-4b11-905c-7976c3f8d09f"},"has_children":false,"archived":false,"type":"heading_1","heading_1":{"color":"default","text":[{"type":"text","text":{"content":"Lacinato
        kale","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lacinato
        kale","href":null}]}}'
  recorded_at: Mon, 06 Jun 2022 04:08:41 GMT
recorded_with: VCR 6.1.0
